.sidebar {
  position: sticky;
  top: 1rem;
}

.spent-time {
  background-color: #6047ec21;
  border-radius: 0.5rem;
  border: 1px solid #6047ecc0;
  color: #6047ec;
  display: flex;
  height: 75px;
  justify-content: center;
  margin-bottom: 2rem;
  width: 411px;
}

.bookmark-container {
  background-color: #11111111;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 2rem;
}

.bookmark-container h3 {
  font-size: 1.7rem;
}

.bookmarked {
  background-color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
}
