.blog {
  border-bottom: 1px solid #7788993a;
  margin-bottom: 2.2rem;
}

.profile {
  border-radius: 50%;
  width: 75px;
}

.cover {
  border-radius: 0.7rem;
  height: 500px;
  width: 845px;
}

.blog-info-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.blog-info {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin: 0.8rem 0;
}

.blog-info h2 {
  margin-bottom: 0;
}

.blog-info p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
  opacity: 0.8;
}

.read-time,
.bookmark {
  font-size: 1.3rem;
}

.blog-title {
  font-size: 2rem;
  margin: 0;
  width: 70%;
}

.bookmark {
  color: black;
  margin: 0 1rem;
}

.blog button {
  background: none;
  border: none;
  color: rgb(97, 25, 131);
  cursor: pointer;
  font-size: 1.2rem;
  margin: 1.5rem 0 2rem;
  padding: 0;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0 1rem;
  }
  .cover {
    height: auto;
    width: 100%;
  }
  .blog-title {
    font-size: 1.7rem;
    width: 90%;
  }
}
